<module>
	<rawname>phpinfo</rawname>
	<name>PHP Info</name>
	<version>2.5.0</version>
	<changelog>
		*2.5.0* localization updates
		*2.4.0* bump for 2.4
		*1.1.0.1* bump for rc1
		*1.1.0* #1442 remove access problem and iframe
	</changelog>
	<type>tool</type>
	<category>System Administration</category>
	<menuitems>
		<phpinfo>PHP Info</phpinfo>
	</menuitems>
	<location>release/2.4/phpinfo-2.4.0.tgz</location>
	<md5sum>0e6ea851b19fb8d25ee210e4d5bacc7b</md5sum>
</module>
