form {
    margin: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}

table tr {
    font-size: 0.9em;
}

body {
	font-size: 0.9em;
	font-family: bitstream vera sans,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d9d9d9;
}
acronym {
        border: 0;
	margin: 0;
}
a:link {
	color: #34548f;
	text-decoration: none;
	border: 0px;
}
a:visited {
	color: #34548f;
	text-decoration: none;
}
a:hover {
	color: #f20;
	text-decoration: none;
}

a[name] {
	color: inherit;
	text-decoration: inherit;
}
a img {
    border: 0px;
    margin: 0px;

}

h3 {
    background-color: #b72222; /*#3f7bb7;*/
    color: #ffffff;
    font-size: 11px;
    font-family: verdana, sans-serif, sans;
    font-weight: 500;
    margin: 0px;
}



input,select {
    background-color: #fbfbfb;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
    font-family: verdana, sans, arial;
    font-size: 11px;
    margin: 0px;
}

textarea {
    font-family: verdana, sans, arial;
    border: 1px solid #a0a0a0;
    font-size: 11px;
    background-color: #ffffff;
    margin: 1px;
    overflow: auto;
}

.checkbox, .radio {
    border: 0px;
    background-color: transparent;
    vertical-align: bottom;
    margin: 0px;
    height: 14px;
}
iframe {
    background-color: #ffffff;
    margin: 0px;
}
.iframe-body {
    background-color: #fff;
}

#frame-header {
	background-color: #fff;
	height: 42px;
}


#frame-header img {
	border: 0;
	vertical-align: middle;
}
#frame-side-left {
	top: 3px;
	margin-top: 51px;
	color: #555;
	font-size: 0.9em;
	position: absolute;
	z-index: 2;
	width: 168px;
	left: 10px;
}

#frame-module {
	font-size: 0.9em;
	width: auto;
	margin: 10px;
	margin-left: 190px;
	padding: 0px;
	z-index: 3;
}

#frame-module a img {
	margin: 0px;
	border: 0px;
}

#frame-module-header {

    color: #ffffff;
    background-repeat: repeat-x;
    background-position: 0% 0%;
    background-image : url(images/coralbg.gif);
    font-size: 11px;
    font-family: verdana, arial, sans, sans-serif;
    font-weight: 600;
    width: 50%;
    height: 14px;
    padding: 1px;
    min-width: 300px;
    vertical-align: middle;
}
#frame-module-header2 {

    color: #000000;
    background-color: #dcdcdc;
    font-size: 11px;
    font-family: verdana, arial, sans, sans-serif;
    font-weight: 600;
    width: 50%;
    height: 14px;
    padding: 1px;
    min-width: 300px;
    margin-bottom: 10px;
}

#frame-module-content {
	padding-top: 8px;
	padding-left: 18px;
	padding-right: 18px;
	border: 1px solid #aaa;
	min-height: 400px;
	background-color: #ffffff;
}
#frame-module-content div {
    border-color: #ffffff;
}
.module-warning {
    color: #34548f;
    font-style: italic;
    font-size: 11px;
    font-family: verdana, sans, sans-serif;
    margin-top: 5px;
    background-color: #ffffff;
}
.module-note {
    color: #34548f;
    font-style: italic;
    font-size: 11px;
    font-family: verdana, sans, sans-serif;
/*    background-color: #ffffff;*/
}
.small-note {
    color: #34548f;
    font-style: italic;
    font-size: 9px;
    font-family: verdana,arial,sans, sans-serif;
}

.input-data-tbl {
    border: 1px solid #34548f;
    background-color: #eeeecc;
    padding-top: 0px;
    font-size: 12px;
    font-family: arial,sans;

}
.small-input {
    background-color: #fbfbfb;
    border: 1px solid #a0a0a0;
    font-family: arial,sans,sans-serif;
    font-size: 10px;
    margin: 0px;
}


.data-tbl2 {
    border: 1px solid #34548f;
    font-size: 12px;
    font-family: arial,sans;
    background-color: #eeeecc;
}
.data-tbl2 #th_1{
    border: 0px;
}
.data-tbl2 #th_2{
    border: 0px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.data-tbl2 #td_1{
    border: 0px;
    border-top: 1px solid #aaaaaa;
}
.data-tbl2 th{
    color: #ffffff;
    background-color: #34548f;
    font-weight: normal;
    border-left: 1px solid #ffffff;
}

.data-tbl2 td{
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}
.data-tbl2 select{
    color: #0000ff;
    font-size: 10px;
}
img {
    border: 0px;
    margin: 0px;
}

.list-tbl {
    border: 0px;
    font-family: verdana, sans-serif, sans;
    font-size: 12px;
    color: #353535;

}
.list-tbl th {
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-image : url(images/rbg.gif);
    color: #ffffff;
    font-weight: 400;
    height: 14px;
    padding: 0px;
}

.list-tbl td {
    height: 15px;
}

.list-tbl th a:link {
   color: #fff;
}
.list-tbl th a:visited {
   color: #fff;
}
.list-tbl th a:hover {
   color: #f20;
}
.trmover {
    background-color: #ffff99;
}
.trmdown {
    background-color: #ffff99;
}
.trcls1 {
    background-color: #d9d9d9;
}
.trcls2 {
    background-color: #ffffff;
}

#import-log {
    font-size: 11px;
    color: #353535;

}

#module-export-link {
    color: #b72222;
    font-size: 9px;
    font-style: italic;
    font-family: verdana, arial, sans, sans-serif;
    font-weight: 400;

}
.module-link {
    color: #b72222;
    font-size: 9px;
    font-style: italic;
    font-family: verdana, arial, sans, sans-serif;
    font-weight: 400;

}

.i_readonly {
    background-color: #e0e0e0;
    border: 1px solid #a0a0a0;
    font-size: 11px;
    font-family: verdana, arial, sans, sans-serif;
    margin: 0px;
}


.sbutton {
    border: 0px solid #386ca1;
    font-size: 11px;
    font-family: verdana,sans, sans-serif;
    color: white;
    margin: 0px;
    width: 100px;
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-image : url(images/fbg.gif);
    padding: 1px;
}

.page-toggle {
    vertical-align: bottom;
    padding-bottom: 1px;
    color: white;
}
.page-toggle img {
    margin: 0;
    border: 0;
}
.page-toggle span a:link{
    color: #bbc5dc;
}
.page-toggle span a:visited{
    color: #bbc5dc;
}
.page-toggle span a:hover{
    color: #f20;
}


.page-toggle img {
    vertical-align: bottom;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    border: 0;
}

#welcome {
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	padding-left: 3px;
}

#login-box {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    width: 32%;
    height: 220px;
    font-family: verdana,sans-serif, sans;
    font-size: 11px;
    color: #000000;
    font-style: normal;
    background-color: white;
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-image : url(images/grbg.gif);
    border: 1px solid #34548f;
}
#login-box-header {
    margin-top: 20px;
    font-family: verdana,sans-serif, sans;
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
    color: #990000;
}
#login-box-note {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: verdana,sans-serif, sans;
    font-size: 11px;
    font-style: italic;
    color: #600101;
}
.sort-div {
    border: 1px solid #34548f
}
.sort-div h3 {
    font-size: 10px;
    font-family: verdana, sans, sans-serif;
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-image : url(images/fbg.gif);
    color: #fff;
    margin-bottom: 1px;
    margin-top: 0px;
}
.sort-div ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 1px;
    padding: 1px;
}
.sort-div li {
    font-size: 11px;
    margin: 1px;
    padding: 1px;
    font-family: verdana, sans, sans-serif;
    cursor: move;
}

.tb-top-header {
    border-top: 0px solid #aaaaaa;
    border-bottom: 0px solid #aaaaaa;
/*    background-repeat: repeat-y;
    background-image : url(images/hor_bg.gif);*/
    background-color: #999999;
}

.menu-panel {
    border: 0;
    background-color: #dddddd;
    font-size: 11px;
    font-family: verdana, sans;
}
.menu-panel tr {
    background-color: #dddddd;
}
.menu-panel td {
    padding: 3px;
    padding-bottom: 1px;
    border-color: #dddddd;*/
    border-style: solid;
    border-width: 1px;
    background-color: #dddddd;
}

.report-head {
    background-color: #c3cde1;
    height: 15px;
    width: 50%;
    color: black;
    font-family: verdana, sans;
    font-size: 10px;
}


.report-tbl {
    background-color: #333333;
    font-family: verdana,sans;
    margin-top: 5px;
}

.report-tbl table {
    font-size: 11px;
}
.report-tbl table #head2 {
    background-repeat: repeat-x;
    background-position-y: top;
    background-image : url(images/coralbg2.gif);
    height: 13px;
    color: white;
}
.report-tbl table #head {
    background-repeat: repeat-x;
    background-position-y: top;
    background-image : url(images/fbg_r.gif);
    height: 13px;
    color: white;
}

.report-tbl table #end {
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-image : url(images/fbg.gif);
    height: 13px;
    color: white;
}

.report-tbl table tr {
    background-color: #eeeeee;
    color: black;
    height: 13px;
}

.report-tbl table tr #head3{
    background-color: #eeeecc;
    padding-left: 25px;
    color: black;
}

.report-tbl table tr #bar{
    background-color: #495e97;
    height: 5px;
}
.loading-div {
    width: 100%;
    font-family: verdana,sans;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    margin-top: 200px;
    color: black;
    z-index: 4999;
    position: absolute;
}

.report-tabl {
    background-color: #333333;
    font-family: verdana,sans;
    margin-top: 10px;
}

.report-tabl table {
    font-size: 11px;
}
.report-tabl table #head2 {
    background-repeat: repeat-x;
    background-position-y: top;
    background-image : url(images/coralbg2.gif);
    height: 26px;
    color: white;
}
.report-tabl table #head {
    background-repeat: repeat-x;
    background-position-y: top;
    background-image : url(images/fbg_r1.gif);
    height: 26px;
    color: white;
}

.report-tabl table #end {
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-image : url(images/fbg.gif);
    height: 26px;
    color: white;
}

.report-tabl table tr {
    background-color: #eeeeee;
    color: black;
    height: 26px;
}

.report-tabl table tr #head3{
    background-color: #eeeecc;
    padding-left: 26px;
    color: black;
}

.report-tabl table tr #bar{
    background-color: #495e97;
    height: 5px;
}